// Variables

$dark-blue: #0e182a;
$dim-blue: #152238;
$medium-blue: #426d9f;
$light-blue: #81a7ff;
$blue-lite: #426d9f6b;
$orange: #f44b24;
$yellow: #f0bd27;
$yellow-lite: #f0bd273d;
$points-color: #b8e986;
$comments-color: #50e3c2;
$white: #fff;
$black: #000;
$gray: #9b9b9b;

$logo-font: "Poppins", sans-serif;
$news-font: "Quicksand", sans-serif;

$website-width: 1080px;
