@import "config";
@import "utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $dim-blue;
  overflow: hidden;
}

.container {
  max-width: $website-width;
  padding: 0 1rem;
  margin: 0.5rem auto;
  overflow: hidden;
}

#layout {
  display: grid;
  grid-template-columns: 1.2fr 10fr 1.6fr;
}

#sidebar-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.6rem;
    padding: 1rem;

    .value {
      position: relative;
      color: $yellow;
      font-family: $logo-font;
      font-size: 1rem;
      text-align: center;
      width: 20px;

      &.current {
        border-bottom: 3px solid $orange;

        &::before {
          content: "HOT";
          position: absolute;
          left: -40px;
        }
      }
    }
  }

  #settings {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
    a {
      color: $yellow;
      text-decoration: none;
      font-family: $logo-font;
      font-size: 0.9rem;
    }
  }
}

#sidebar-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  #logo {
    margin: 0 1rem;

    img {
      width: 28px;
    }

    .dash {
      height: 4px;
      width: 23px;
      background-color: $orange;
      margin-bottom: 2px;
    }
    h1 {
      line-height: 1.2rem;
      font-size: 1.2rem;
      font-family: $logo-font;
      font-weight: bold;
      color: $yellow;
    }
  }

  #brewer {
    font-family: $logo-font;
    line-height: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;

    small {
      color: $white;
      font-size: 0.7rem;
    }
    strong {
      color: $light-blue;
      font-weight: 600;
      font-size: 0.8rem;
    }
  }
}

#news-list {
  padding: 1rem;
  margin: 0.5rem;
  height: calc(100vh - 2rem);
  border-radius: 8px;
  background-color: $dark-blue;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  .date-header {
    color: $yellow;
    font-family: $news-font;
    font-size: 0.9rem;
    text-align: end;
    padding: 0.5rem 1rem;
  }

  .item {
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    margin: 0.5rem 0;
    border-radius: 8px;

    .rank {
      color: $white;
      font-size: 1.2rem;
      font-family: $news-font;
      font-weight: bold;
      position: relative;
      margin-right: 0.5rem;

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 30px;
        background-color: $medium-blue;
        margin-left: 0.5rem;
      }
    }

    .news {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 1rem;

      h3 {
        color: $white;
        font-family: $news-font;
        font-weight: 500;
        cursor: pointer;
      }

      .news-info {
        display: flex;
        justify-content: space-between;
        font-family: $news-font;
        font-weight: 400;
        color: $white;

        &-left {
          display: flex;
          align-items: flex-end;
          .site {
            color: $light-blue;
          }

          .author {
            visibility: hidden;
            margin-left: 1rem;
            a {
              text-decoration: none;
              color: $light-blue;
            }
          }
        }

        &-right {
          visibility: hidden;
          display: flex;
          align-items: flex-end;
          gap: 1rem;
          cursor: pointer;

          .time {
            color: $yellow;
          }

          .points {
            color: $points-color;
          }

          .comments {
            color: $comments-color;
          }

          img {
            width: 20px;
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }

    &:hover {
      background-color: $dim-blue;

      .news .news-info-left .author {
        visibility: visible;
      }
      .news .news-info-right {
        visibility: visible;
      }
    }
  }
}

.divider {
  display: flex;
  justify-content: space-around;
  color: $yellow;
  font-family: $news-font;
  font-weight: 100;
  font-size: 0.9rem;

  &.offline {
    color: $orange;
  }

  .line {
    height: 1px;
    width: 100%;
    background-color: $medium-blue;
    margin: 1rem;
  }

  small {
    text-align: center;
    white-space: nowrap;
    align-self: center;
  }
}
